<h1><%= @blogger.name %> Blogger Show Page</h1>

<h2>Total likes on all Posts</h2>

<%= @blogger.total_likes %>

<h2>Link to most liked Post</h2>

<%= link_to @blogger.most_liked.title, post_path(@blogger.most_liked) if @blogger.most_liked %>

<%# - **BONUS** A list of that user's top 5 most written about destinations (the destinations with the most posts) %>

<h2>Top 5 Destinations</h2>

<%# post = blogger, destination %>
<%# @blogger.posts => [d, d, d] %>
<% @blogger.posts.sort_by do |post| %>
  <%= link_to post.destination.name, post.destination %><br>
<% end %>